/* src/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  /* Global Styles */
  :root {
    --background: #f8fafc; /* Soft Light Gray */
    --card: #ffffff; /* Pure White */
    --text-primary: #1e293b; /* Dark Grayish Blue */
    --text-secondary: #64748b; /* Cool Gray */
    --positive: #22c55e; /* Emerald Green */
    --neutral: #eab308; /* Amber Yellow */
    --negative: #ef4444; /* Bright Red */
    --ai: #3b82f6; /* Professional Blue */
    --divider: #e2e8f0; /* Cool Light Gray */
    --active: #2563eb; /* Deep Blue */
    --font-sans: 'Gabarito', 'Poppins', sans-serif;
    --card_border_color: #d1d5dc;
    --font-heading-main: 2rem;
    --font-heading-sub: 20px;
    --font-body: 16px;
    --font-secondary: 14px;
    --font-cta: 16px;
    --font-stats: 24px;
    --font-bold: 700;
    --font-medium: 500;
    --font-regular: 400;
    --font-light: 300;
    --box-shadow-soft:
      0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.05);
    --border-radius-smooth: 12px;
    --primary-btn-border-radius: 7px;
  }
}

@layer components {
  /* Component Styles */
  .new_entry_button {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 2;
    border: 1px solid rgb(0, 0, 0);
    font-size: var(--font-cta);
    padding: 7px 10px;
    font-weight: bold;
    gap: 4px;
    border-radius: var(--primary-btn-border-radius);
  }

  .new_entry_button > *:nth-child(1) {
    width: 22px;
    height: 22px;
    background-color: rgb(83, 78, 78);
    border-radius: 50%;
    padding: 2px;
  }
  .new_entry_button:hover {
    box-shadow: var(--box-shadow-soft);
    border: 1px solid #333;
    background-color: #242424dd;
  }

  .entrie_card {
    border: 1px solid var(--card_border_color);
    background-color: var(--card);
    overflow: hidden;
    display: grid;
    gap: 16px;
    border-radius: var(--border-radius-smooth);
    cursor: pointer;
  }

  .entrie_card:hover {
    border-color: #333;
  }

  .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    color: #333;
    cursor: pointer;
    padding: 4px;
  }

  .icon:hover {
    background-color: #e4e3e3;
  }
}

@layer utilities {
  /* Utility Classes */
  .font-sans {
    font-family: var(--font-sans);
  }
  .text-heading-main {
    font-size: var(--font-heading-main);
    font-weight: var(--font-bold);
  }
  .text-heading-sub {
    font-size: var(--font-heading-sub);
    font-weight: var(--font-medium);
  }
  .text-body {
    font-size: var(--font-body);
    font-weight: var(--font-regular);
  }
  .text-secondary {
    font-size: var(--font-secondary);
    font-weight: var(--font-light);
  }
  .text-cta {
    font-size: var(--font-cta);
    font-weight: var(--font-medium);
  }
  .text-stats {
    font-size: var(--font-stats);
    font-weight: var(--font-bold);
  }
}
